{% extends './layout.html' %}
<!-- {% block title %} {% endblock %} -->
{% block content %}
<h1>koa2图书管理系统</h1>
<div class="column" style="display:flex;flex-direction:row">
    <p style="margin-right:5px">
        <a href="/search"><button id="check" class="btn btn-info">查询</button></a>
        <!-- <input type="button" name="check" class="btn btn-info" value="查询" onclick="open()"> -->
    </p>
    <p>
        <a href="/create"><button id="create" class="btn btn-success">增加</button></a>
        <!-- <input type="button" name="create" class="btn btn-success" value="增加"> -->
    </p>
</div>
<div class="table-responsive">
        <table class="table table-striped table-bordered table-condesed" border='1'>
            <thead>
                <tr>
                    <th>id</th>
                    <th>图书名字</th>
                    <th>作者</th>
                    <th>出版社</th>
                    <th>出版日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr class="info">
                        <th>
                            {{ book.id }}
                        </th>
                        <th>
                            {{ book.name }}
                        </th>
                        <th>
                            {{ book.author }}
                        </th>
                        <th>
                            {{ book.process }}   
                        </th>
                        <th>
                            {{ book.publictime }}
                        </th>
                        <th>
                            <input type="button" name="deletebtn" class="btn btn-danger" value="删除" >
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}